@import '~antd/dist/antd.css';
 
 .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }

  
  .site-layout .site-layout-background {
    background: #fff;
  }

.container h2{
    text-align: center;
}
.container #search{
  float: right;
    padding:  5px 0px 5px 50px; 
    border: none;
    border-radius: 10px;
    /* margin-top: 1%; */
    margin-bottom: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    outline: none;
    background-color: #f7edf43b;
    color: #363062c7;
    text-shadow: 2px 2px 4px #c3c1c1;
    margin-right: 0;
}

.container .ant-btn{
    margin-top: 1%;
    margin-bottom: 1%;
}
.container .anticon-edit{
    font-size: 20px;
    color: #363062c7;
    display: flex;
    justify-content: end;
    margin-right: 2%;
}

.ant-menu-title-content a{
    color: #833768;
}

.logo{
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  border: solid 1px #833768;
  text-align: center;
  padding: 1%;
  font-style: italic;
}

.header{
  margin-left: auto;
  padding: 1%;
}
.anticon-logout{
  color: #8b8b8b;
  font-size: large;
  cursor: pointer;
 margin: 2%;
  float: inline-end;
}
.anticon-logout :hover{
  color: #833768;
}

.ant-layout{
  background: white;
}
.ant-layout-sider-children{
  background-color: #ffe8ff18;
}

.ant-table-cell span{
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
 
}


.editForm .anticon-left{
  color: #642c50;
  font-size: 200%;
  cursor: pointer;

}

.editForm .anticon-left :hover{
  color: #a334c5;
  
}

.editForm h3{
  margin-bottom: 0;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: grey;
}

.ant-card{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.ant-card-head-title{
  font-size: large;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.cards{
  z-index: 0;
  width: 100%;  
  display: flex;
  justify-content: space-evenly;
}



.MuiPaper-root:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.25), 
    -5px -5px 7px 3px rgba(0,0,0,0.22);
}
.MuiPaper-root{
  background: #f7edf43b;
  height: 150px;
  width: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
.MuiCardContent-root {
  margin: 10px;
  color: #833768;
}

.MuiCardContent-root .MuiSvgIcon-root {
  float: inline-start;
  margin: 10px;
  font-size: 30px;
}
.MuiPaper-root .MuiTypography-button{
  font-size: 15px;
  font-weight: bold;
}

.login-form {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.login-form .MuiFormControl-fullWidth{
margin-top: 2%;
margin-bottom: 2%;
}

#profile .ant-card{
  max-width: 40%;
}
#profile .ant-avatar{
  margin-bottom: 5%;
  float: inline-end;
}

#profile .anticon-edit{
  font-size: medium;
  
}

#profile .details{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.loader{
  z-index: 1000;
  position: absolute;
  bottom: 40%;
  right: 45%
}

.text-area .ant-input[disabled]{
  color: black;
  background-color:rgba(255, 240, 245, 0.308) ;
  border: none;
}

.validate{
  color: grey;
  font-size: small;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}
.validate .MuiSvgIcon-root{
  font-size: large;
  margin-right: 1%;
margin-left: 0;
padding: 1px;
position: inherit;
float: inline-start;
  /* position: absolute; */
}

.validate .invalid{
  color: red;
}

.validate .valid{
  color: green;
}

.buttons{
  display: flex;
  gap: 1%;
}