 .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
  
 .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

.container h2{
    text-align: center;
}
.container #search{
  float: inline-end;
    padding:  5px 0px 5px 50px; 
    border: none;
    border-radius: 10px;
    /* margin-top: 1%; */
    margin-bottom: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
    outline: none;
    background-color: #f7edf43b;
    color: #363062c7;
    text-shadow: 2px 2px 4px #c3c1c1;
}

.container .ant-btn{
    margin-top: 1%;
    margin-bottom: 1%;
}

.ant-menu-title-content a{
    color: #833768;
}

.logo{
  border: solid 1px #833768;
  text-align: center;
  padding: 1%;
  font-style: italic;
}

.header{
  margin-left: auto;
  padding: 1%;
}
.anticon-logout{
  color: #8b8b8b;
  font-size: large;
  cursor: pointer;
 margin: 2%;
  float: inline-end;
}
.anticon-logout :hover{
  color: #833768;
}

.ant-layout{
  background: white;
}
.ant-layout-sider-children{
  background-color: #ffe8ff18;
}

.ant-table-cell span{
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
 
}

